@import 'partials/_palette';
@import 'partials/_focus';

@import 'partials/_variables';
@import 'partials/_base';

@import 'partials/_forms';
@import 'partials/_tabular-data';
@import 'partials/_typography';

@import 'partials/_utilities';

@import 'partials/_shame';

@import 'partials/_buttons';
@import 'partials/_navigation';

.heading-medium, .heading-24, h2, .h2-heading {
    margin-top: .42105em !important;
}

.summary--repaid {
  margin-bottom: 0.5em;
}

.panel-indent {
  margin-bottom: 0.5em;
}

/* IE11 display hack */
.no-details details summary .arrow-closed {
  display: none !important;
}
