$govuk-assets-path: "/business-account/vat/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/business-account/vat/assets/lib/hmrc-frontend/hmrc/";;
@import "lib/govuk-frontend/dist/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

@import 'images/favicon.ico';

.blue-top {
 border-bottom: 10px solid #1D70B8;
}

